.home-intro
    display: flex
    flex-direction: column
    max-width: 1001px
    .home-intro-first-sentence
        font-size: 36px
        margin-bottom: -20px
    .home-intro-second-sentence
        font-size: 24px